@import 'reset.css';
@import 'cards.css';
@import 'custom.css';

@font-face {
  font-family: IRANSemi;
  src: url('../fonts/IRANSemiBold.eot');
  src: url('../fonts/IRANSemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IRANSemiBold.woff') format('woff'),
    url('../fonts/IRANSemiBold.ttf') format('truetype');
  font-weight: normal;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: rgba(192, 192, 192, 0.226);
}

::-webkit-scrollbar-thumb {
  background: rgba(202, 202, 202, 0.616);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #000;
}

* {
  scrollbar-color: rgba(202, 202, 202, 0.616) rgba(192, 192, 192, 0.226);
  scrollbar-width: thin;
  -ms-overflow-style: none;
}

#root,
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;

}

.to-center {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.tabs {
  display: -webkit-box;
  display: flex;
  position: relative;
  background-color: rgba(99, 99, 99, 0.267);
  border: 1px solid #f09e24;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.tabs * {
  z-index: 2;
}

.tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex: 1;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in;
  transition: color 0.15s ease-in;
  padding: 6px;
}

.tab.active {
  color: #fff;
}

.glider.active-1 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.glider.active-2 {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.glider.active-3 {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: -webkit-box;
  display: flex;
  flex: 1;
  background-color: #f09e24;
  z-index: 1;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  width: 32%;
  height: 76%;
}