body {
    background: #22283F;
    color: rgb(230, 230, 230);
    font-size: 12px;
}

* {
    font-family: IRANSemi !important;
}

.flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.mb {
    margin-bottom: 10px;
}

.ml {
    margin-left: 10px;
}

.container {
    display: flex;
    flex: 1;
    margin: 5px;
}

.container>div {
    display: flex;
    margin: 5px;
}

.bg {
    background: #131530;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.container>.left {
    flex: .37;
}

.container>.middle {
    flex: .37;
}

.container>.right {
    flex: .26;
}

.arrow {
    position: relative;
    width: 15em;
    height: 8em;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.btn-text {
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0 0 3px #333;
}

.btn-text.bold {
    font-size: 4em;
}

.arrow-text {
    position: absolute;
    top: 40%;
    z-index: 9;
}

.arrow-text.x {
    top: 30%;
}

.diff-arrow {
    position: relative;
    background-color: #293689;
    width: 8em;
    height: 8em;
    border-top-right-radius: 20%;
    margin-top: -5px;
    box-shadow: 7px -5px 5px #3e71ea;
}

.diff-arrow.x {
    margin-top: 5px;
    background-color: #772f57;
    box-shadow: 7px -5px 5px #fb4363;
}

.diff-arrow:before,
.diff-arrow:after {
    content: '';
    position: absolute;
    background-color: inherit;
    width: 8em;
    height: 8em;
    border-top-right-radius: 15%;
}

.diff-arrow {
    transform: rotate(-45deg) skewX(0deg) scale(0.5);
}

.diff-arrow.x {
    transform: rotate(135deg) skewX(0deg) scale(0.5);
}

.diff-arrow:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
    box-shadow: 9px -7px 5px #3e71ea;
}

.diff-arrow:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
    box-shadow: 8px -6px 5px #3e71ea;
}

.diff-arrow.x:before {
    box-shadow: 9px -7px 5px #fb4363;
}

.diff-arrow.x:after {
    box-shadow: 8px -6px 5px #fb4363;
}

.burger {
    cursor: pointer;
    width: 3.5em;
    height: 2em;
    display: inline-block;
    position: relative;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
    -o-transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
    -webkit-transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
    transition-timing-function: cubic-bezier(0.61, 0.04, 0.17, 1.32);
}

.burger::after,
.burger::before {
    content: "";
    width: 4.5em;
    height: 0.5em;
    left: -0.25em;
    position: absolute;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
    background: rgb(230, 230, 230);
    -moz-transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.btn-actions {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.bet-dir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.bet-input {
    display: flex;
    justify-content: space-between;
    background: rgba(157, 157, 157, .1);
    border-radius: 10px;
}

.bet-input input {
    background: transparent;
    outline: 0;
    border: 0;
    font-size: 2em;
    color: rgb(230, 230, 230);
    font-weight: bold;
    text-align: center;
}

.bet-input .icon {
    font-size: 1.3em;
    color: rgb(157, 157, 157);
}

.bet-input .icon.active {
    color: #fff;
}

.bet-btn {
    display: flex;
    flex: 1;
    background: rgba(157, 157, 157, .1);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

.bet-btn .icon {
    font-size: 1.3em;
    margin-right: 5px;
    margin-left: 5px;
}

.btn {
    background: #0e0f28;
    color: #ffffff;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0;
    flex: 1;
    text-transform: uppercase;
    max-height: 60px;
    background: #0e0f28;
    border: 1px solid #21233b;
    box-shadow: 1px 2px 2px 0px #0000003d;
}

.btn:hover {
    border: 1px solid #21233b;
    box-shadow: 1px 2px 2px 0px #0000003d;
}

.btn.row {
    flex-direction: row;
    justify-content: center;
}

.btn span {
    font-size: 11px;
    font-weight: normal;
    color: #999;
}

.btn.green {
    background: linear-gradient(to bottom, #afbd18 5%, #919d12 100%);
    background-color: #919d12;
}

.btn.orange {
    background: linear-gradient(to bottom, #f2a036 5%, #fbc279 100%);
    background-color: #e38813;
}

.btn.row span {
    margin-left: 10px;
    margin-right: 10px;
}

.btn.orange span {
    color: rgb(17, 17, 17);
}

.btn.blue {
    background: linear-gradient(to bottom, #423feb 5%, #2d29ce 100%);
    background-color: #2d29ce;
}

.btn.red {
    background: linear-gradient(to bottom, #ce192e 5%, #9c081a 100%);
    background-color: #9c081a;
}

.btn.black {
    background: linear-gradient(to bottom, #0f0f18 5%, #030305 100%);
    background-color: #030305;
}

.disable {
    opacity: .3;
}

.card-dir {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-dir .pri {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 5em;
    overflow: hidden
}

.card-timer {
    height: 10px;
    width: 70%;
}

.user-dir {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.user-name {
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #999;
}

.user-balance {
    display: flex;
    align-items: center;
}

.user-balance img {
    width: 20px;
    margin-right: 10px;
}

.user-balance .amount {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(76, 223, 108);
}

.status-dir {
    display: flex;
    height: 100%;
}

.card {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .2);
    box-sizing: border-box;
    margin: 0 3px;
    background-size: cover;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card.big {
    width: 11.1em;
    height: 15.5em;
}

.card.mini {
    width: 3.6em;
    height: 5em;
}

.card div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -o-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -o-box-align: center;
    align-items: center;
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.card .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


@-webkit-keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

@keyframes pulse-grow-on-hover {
    to {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

.pulse {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
}

.pulse:not(.no-hover):hover {
    -webkit-animation-name: pulse-grow-on-hover;
    animation-name: pulse-grow-on-hover;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.progress {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    height: 18px;
    border-radius: 30px;
    background: rgba(165, 165, 165, 0.1);
    transition: 0.4s ease;
    transition-property: width, background-color;
}

.progress-moved .progress-bar {
    width: 100%;
    background-color: rgb(255, 59, 0);
    animation: progressAnimation 10s;
}

@keyframes progressAnimation {
    0% {
        width: 5%;
        background-color: rgb(250, 134, 99);
    }

    100% {
        width: 100%;
        background-color: rgb(255, 59, 0);
    }
}